$primary: #ccc;
$primaryTitleFont: "Slabo 27px";
$secondary: #201a1a;
$tertiary: #b00;
$quaternary: aliceblue;

body {
  color: $primary;
  background-color: $secondary;
  font-family: $primaryTitleFont;
}
h1 {
  border-radius: 0.5em;
  // display: inline-block;
  padding: 0.25em 0.5em;
  width:6em;
  text-align: center;
  margin: 0em auto 0.5em auto;
  background-color: $tertiary;
}
div {
  width: 100%;
  text-align: center;
}
ul {
  background-color: $secondary;
  list-style: none;
  padding: 1em 2em;
}
a, button {
  font-size: 1em;
  font-family: $primaryTitleFont;
  text-decoration: none;
  border: none;
  color: $tertiary;
  background-color: $quaternary;
  padding: 0.5em 1em;
  border-radius: 0.5em;
  margin: 1em;
}
a:hover, button:hover {
  background-color: $tertiary;
  color: $quaternary;
}
input {
  color: $quaternary;
  background-color: $secondary * 1.2;
  border: 1px dashed $quaternary;
  font-family: $primaryTitleFont;
  padding: 1em 2em;
  border-radius: 3px;
}
.Action-upVote, .Action-downVote, .Action-Fave {
    width: 1em;
    height: 1em;
    display: inline-block;
}
.Action-upVote {
    background-color: green;
}
.Action-downVote {
    background-color: red;
}
.Action-Fave {
    background-color: pink;
}
.btn-create {
  margin-top: 3em;
}
.Form-Container input {
  width: 85%;
}
.GuestBox {
  width: 30%;
  margin: 2em auto;
  margin-top: 0;
}
.hidden {
  display: none;
}
.HistoryItem:nth-of-type(odd) {
  background-color: $secondary * 0.8;
}
.HistoryItem:nth-of-type(even) {
  background-color: $secondary * 1.2;
}
.HistoryList {
  float: left;
  width: 45%;
  margin-left: 5%;
  border-radius: 5px;
  padding: 0px;
}
.HistoryList h4, .SongList h4, .GuestBox h4, {
  background-color: $tertiary;
  margin : 0em;
  padding : 0.3em;

}
.Nav {
  align-items: center;
  display: flex;
  font-family: $primaryTitleFont;
}
.SongList {

}

.SongList, .HistoryList, .GuestBox {
  border-radius: 5px;
  padding: 0px;
}
.SongList-Form-container {
  width: 45%;
  margin-left: 2.5%;
  float: left;

}
.btn-active svg {
  fill: red;
}